/* General styling */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

/* Styling for password length range */
div {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

button {
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Styling for the checkbox inputs */
fieldset {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

legend {
  padding: 0 10px;
}

/* Styling for generated password and its associated button */
div p {
  display: inline-block;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

/* Icon button styles */
button > svg {
  vertical-align: middle;
}

/* Custom Checkboxes */
input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.checkbox-label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border: 2px solid #007bff;
  border-radius: 4px;
}

input[type='checkbox']:checked ~ .checkbox-label:before {
  background-color: #007bff;
  border: 2px solid #007bff;
}

.checkbox-label:after {
  content: '';
  position: absolute;
  display: none;
}

input[type='checkbox']:checked ~ .checkbox-label:after {
  display: block;
}

.checkbox-label:after {
  left: 9px;
  top: 5px;
  width: 8px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

input[type='checkbox']:disabled ~ .checkbox-label {
  color: #ccc;
  cursor: not-allowed;
}

input[type='checkbox']:disabled ~ .checkbox-label:before {
  border-color: #ccc;
  background-color: #ccc;
}

/* Styling for custom range slider */
input[type='range'] {
  width: 50%;
  height: 10px;
  background: transparent;
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -6px; /* Aligns the thumb with the track */
  width: 16px;
  height: 16px;
  background: #007bff;
  cursor: pointer;
  border-radius: 50%;
}

input[type='range']::-moz-range-thumb {
  margin-top: -6px; /* Aligns the thumb with the track */
  width: 16px;
  height: 16px;
  background: #007bff;
  cursor: pointer;
  border-radius: 50%;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #ccc;
  border-radius: 1.3px;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #ccc;
  border-radius: 1.3px;
}
